@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Euclid Circular A', sans-serif; 
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #18181800;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6e708e91;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;
  }
